<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wecqupt.dao.RentalsListMapper">
  <resultMap id="BaseResultMap" type="com.project.wecqupt.model.RentalsList">
    <!--@mbg.generated-->
    <!--@Table rentals_list-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, student_number, `name`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from rentals_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from rentals_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.project.wecqupt.model.RentalsList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rentals_list (student_number, `name`)
    values (#{studentNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.project.wecqupt.model.RentalsList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rentals_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.wecqupt.model.RentalsList">
    <!--@mbg.generated-->
    update rentals_list
    <set>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.wecqupt.model.RentalsList">
    <!--@mbg.generated-->
    update rentals_list
    set student_number = #{studentNumber,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByStudentNumber" resultMap="BaseResultMap">
    select * from rentals_list where student_number = #{studentNumber}
  </select>

</mapper>